.equipo{
    width: 100%;
    text-align: center;
    padding: 32px;
    box-sizing:border-box;   
    font-size: 32px;
    position: relative;
}

.input-color{
    position: absolute;
    right: 50px;
    top: 20px;
}

.equipo h3{
    font-weight: 400;
    color: #212121;
    padding-bottom: 8px;
    border-bottom: 4px solid #57C278;
    display: inline-block;
} 

.colaboradores{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}